
<footer class="footer_width loginPage exceptionpage">
  <div class="container-fluid alignwithBodyContainer" >
    <div class="row">
      <!-- <div class="col-md-4 col-sm-5 col-xs-12 foot-lft widthintab"> -->
        <div class="col-sm-6 col-xs-12 footer-content">
        <!-- <h6 class="footer_lft" ><span class="foot_support">Supported by </span> 
         <a href="http://unicef.in/" target="_blank" class="text_deco_none">
         <img class="image-responsive footer-logo-unicef img_footr"
          src="assets/images/unicef-white.png" alt="UNICEF"></a>
        </h6>					 -->
        <span class="blck_dse text-center">Copyrights &copy; 2019 All Rights Reserved </span>
      <!-- <div class="col-md-4  col-xs-12 footer-content align-center" >
        
          </div> -->
        </div>
          
          <div class="col-sm-6 col-xs-12 footer-content align-right" >
        <span class="footerfont">Powered by </span><a
          href="http://sdrc.co.in/" target="_blank" class="text_deco_none"><span  class="poweredbysdrc">SDRC</span>
          </a>
      </div>

    </div>
  </div>
</footer>
