/* Primitive Colors */
$primary:#1D7946;
$first-color: #1D7946;
$first-color-backup: #1CABE2;
$second-color-backup: transparent;
$second-color: #FEFEFE;
$third-color:  #0d6e3e;
$fourth-color: #a4a1c2;

/* Derived colors */
$button-bg: $primary;
