.message-box{
    margin-bottom: 10px;
}
.success{
    text-align: center;
    color:#41C484;
}
.mat-dialog-content{
    text-align: center !important;
}
button {
    background-color: #2c5f2c;
    border-radius: 2px;
    color: #fff;
}