@import "../../../assets/styles/color";
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.preview-modal {
    height: calc(100vh - 100px);
    padding: 0;
    padding-bottom: 56px;
}
.preview-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    left: 0;
}
.scheme-indicator-wrapper {
    justify-content: space-between;
    display: flex;
    @media(max-width: 767px) {
        flex-direction: column-reverse !important;
        .selected-indicators {
            max-width: 100% !important;
            margin-bottom: 20px !important;
        }
    }
}
.goal-name {
    font-weight: 700;
}
.border-none {
    border: none !important;
}
:host {
    .list-group-item {
        border:none;
        border-bottom: 1px solid rgba(0,0,0,.125);
        &:last-child {
            border:none;
        }
    }
    .modal-dialog {
        max-width: 80% !important;
    }
}